<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/lteLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content">


    <h1>[[${pageRequestDTO}]]</h1>
    <hr>
    <h3>[[${pageResponseDTO}]]</h3>
    <hr>
    <div>
        <h1>header</h1>
    </div>

  
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bordered Table</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered todoTable">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Task</th>
                      <th>Progress</th>
                      <th style="width: 40px">Label</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="todo : ${pageResponseDTO.list}">
                      <td>1.</td>
                      <td class="todoDTO"  >[[${todo.tno}]]</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-danger">55%</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right todoUL">
                  <li class="page-item"><a class="page-link" href="10">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="11">11</a></li>
                  <li class="page-item"><a class="page-link" href="12">12</a></li>
                  <li class="page-item"><a class="page-link" href="13">13</a></li>
                  <li class="page-item"><a class="page-link" href="21">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->

            <form class="actionForm" action="/todo/list" method="get">
              <input type="hidden" name="page" value="3">
              <input type="hidden" name="size" value="10">
            </form>
            <!-- <script src="js/pageUtil.js"></script> -->

            

    </div>
 

    <div>
        <h1>footer</h1>
    </div>
    
    <script layout:fragment="script" th:inline="javascript" >


      const todoUL = document.querySelector(".todoUL")
      const actionForm = document.querySelector(".actionForm")
      const pageObj = actionForm.querySelector("input[name='page']")

      todoUL.addEventListener("click", (e)=> {
          //console.log(e)
          e.preventDefault()
          e.stopPropagation()

          const target = e.target
          const pageNum = target.getAttribute("href")

          pageObj.value = pageNum

        actionForm.submit()
      

      } , false)
      // setTimeout(()=> {


      //   actionForm.setAttribute("action" , "/todo/read/33")
      //   pageObj.value = 5
      //   actionForm.submit()

      // } , 3000)




      const {page,size} = [[${pageRequestDTO}]]

      console.log(page,size)

      const {total} = [[${pageResponseDTO}]]

      console.log("total:" + total)




/////////////////////////////////////////////
      function makePage(page,size,total){
          console.log(page,size,total)

          const startNum = (Math.ceil(page/10) * 10) - 9
          console.log("startNum : " , startNum)

          let result = ``

          // 이전.
          if(startNum !== 1){
            result +=`<li class="page-item"><a class="page-link" href="${startNum -1}">&laquo;</a></li>`
          }

          let temp = startNum
          while(true){

            if(temp * size > total){
              break;
            }
            result += `<li class="page-item"><a class="page-link" href="${temp}">${temp}</a></li>`
            temp++;
          }


          if( total % (size * 10 ) === 1){
            result += `<li class="page-item"><a class="page-link" href="${startNum + 10}">&laquo;</a></li>`
          }

          console.log(result)
          return result;


      }
////////////////////////////////////////////////////////////


      alert("test")

      const pageLIStr = makePage(page,size,total)
      todoUL.innerHTML = pageLIStr

      const todoTable = document.querySelector(".todoTable")
      todoTable.addEventListener("click",(e)=>{
        const target = e.target
        if(target.getAttribute("data-tno")){
          return
        }

        const tno = target.getAttribute("data-tno")
        console.log("TNO : " , tno)

        actionForm.setAttribute("action" , `/todo/read/${tno}`)
        actionForm.submit()

      } , false)

    </script>

</div>



</body>
</html>