<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
    <ul>
        <li th:each="dto :${res.list}">
          <a th:href="@{|/product/modify/${dto.pno}|(page=${pageRequestDTO.page}, size=${pageRequestDTO.size})}">Go to /hello</a>
    
          [[${dto}]]
          <img  th:src="|http://localhost/s_${dto.fileName}|">
        </li>
      </ul>
  
</body>
</html>